body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(221, 251, 253);
    background: white;
}

table{
    margin-top: 2.75rem;
    border: 1px solid lightgrey;
    width: 50rem;
    min-width: 50rem;
    border-collapse: collapse;
    background: rgba(255,255,255,0.9);
}

th, td{
    border: 1px solid lightgrey;
    text-align: center;
    padding: 0.5rem;
    /* border-collapse: collapse; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}



#new-book{
    margin-top: 2rem;
    width: 25rem;
    height: 5rem;
    border: 1px solid black;
    background: lightcyan;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#new-book::active{
    background: white;
    border: none;
}

#submit-book{
    margin-top: 0.6rem;
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border: 1px solid black;
}

#submit-book:hover{
    background: lightcyan;

}

#hide-button{
    width: 50%; 
    margin: 0 auto; 
    margin-top: 0.8rem; 
    cursor: pointer; 
    background: darkred; 
    color: white; 
    border: none; 
    letter-spacing: 1.5px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid black;
    padding: 1rem;
    margin-top: 2rem;
    background: rgba(255,255,255,0.9);
}

.actionbuttons{
    height: 2.5rem;
    border: none;
    cursor: pointer;
    width: 50%;
    
    
}



/* .delete{
    display: inline-block;
} */